<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>To Do List</title>
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        const footerDetails = `<footer class="bottom-text">© ${new Date().getFullYear()} Designed By Zain</footer>`;
        document.getElementById('footer').innerHTML = footerDetails;
      });
    </script>
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
    <div class="box">
      <% newListItems.forEach((item) => { %>
      <form action="/delete" method="post">
        <div class="item">
          <input
            type="checkbox"
            name="checkbox"
            value="<%= item._id%>"
            onchange="this.form.submit()"
          />
          <p><%=item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>" />
      </form>
      <% })%>

      <form class="items" action="/" method="post">
        <input
          type="text"
          placeholder="Enter a new task.."
          name="newItem"
          autocomplete="off"
        />
        <button class="button-74" role="button" type="submit" name="list" value="<%= listTitle %>"><span>+</span></button>
      </form>
    </div>
    <div id="footer"></div>
    
  </body>
</html>
